<html lang="en" class="js csstransforms3d">
  <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/icons.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/component.css">
		<script src="javascripts/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="st-container" class="st-container st-effect-5">
			
			<nav class="st-menu st-effect-5" id="menu-5">
				<h2 class="icon icon-paperplane">Navigation</h2>
				<ul>
				  <li><a class="icon icon-shop" href="/">Home</a></li>
					<li><a class="icon icon-news" href="/facts">Facts About Bees</a></li>
					<li><a class="icon icon-location" href="#">Location</a></li>
					<li><a class="icon icon-study" href="#">Study</a></li>
					<li><a class="icon icon-megaphone" href="/forums">Forums</a></li>
					<li><a class="icon icon-banknote" href="/donate">Donate</a></li>
					{{#if user}}
					<li><a href="/profile"><img src = {{user.avi}} width = 20px style = "border-radius:8px;float:left">&nbsp;&nbsp;&nbsp;My Profile</a></li>
					<li><a class="icon icon-lock" href="/auth/logout">Logout {{user.username}}</a></li>
					{{/if}}
				</ul>
			</nav>
			
			<!-- content push wrapper -->
			<div class="st-pusher">
				
				<div class="st-content"><!-- this is the wrapper for the content -->
					<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
						<!-- Top Navigation -->
						<div class="main clearfix" style="float:left; padding:5px">
							<div id="st-trigger-effects">

								<button data-effect="st-effect-5">Menu</button>
                
							</div>
						</div><!-- /main -->
						
							
								<img class="center" style="float:right; width:10%" src="/images/bees-01.png">

								  <br style="line-height:300px">
              <h1 class="item-1">In 2015 42% of honeybee colonies collapsed.</h1>
              <h1 class="item-2">Did you know? Haagen Dazs spread awareness by creating a new flavor of vanilla, called honey bee!</h1>
              <h1 class="item-3">There has been a 25% loss of commercial honeybees in Europe since 1985.</h1>
           <br style="line-height:250px">
           
            <div class="button center" onclick="window.open('/donate')">Donate Today to Raise Awareness!</div>

					</div><!-- /st-content-inner -->
				</div><!-- /st-content -->
			</div><!-- /st-pusher -->
		</div><!-- /st-container -->
		<script src="javascripts/classie.js"></script>
		<script src="javascripts/sidebarEffects.js"></script>
	
</body></html>
