<html lang="en" class="js csstransforms3d">
  <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/icons.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/component.css">
		<script src="/javascripts/modernizr.custom.js"></script>
	</head>
	
			<style>
	    
	    .st-content {
	        
	        background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/green-grass-field-background-farming-harvesting-ecology-scene-vibrant-vivid_bflaan7s__F0007.png");
	        
	    }
	    
	</style>
	
	<body>
		<div id="st-container" class="st-container st-effect-5">
			
			<nav class="st-menu st-effect-5" id="menu-5" style="background: #d9ff66; color:#FFF">
				<h2 class="icon icon-paperplane">Navigation</h2>
				<ul>
				  <li><a class="icon icon-shop" href="/">Home</a></li>
					<li><a class="icon icon-news" href="/facts">Facts About Bees</a></li>
					<li><a class="icon icon-location" href="#">Location</a></li>
					<li><a class="icon icon-study" href="#">Study</a></li>
					<li><a class="icon icon-megaphone" href="/forums">Forums</a></li>
					<li><a class="icon icon-banknote" href="/donate">Donate</a></li>
					{{#if user}}
					<li><a href="/profile"><img src = {{user.avi}} width = 20px style = "border-radius:8px;float:left">&nbsp;&nbsp;&nbsp;My Profile</a></li>
					<li><a class="icon icon-lock" href="/auth/logout">Logout {{user.username}}</a></li>
					{{/if}}
				</ul>
			</nav>
			
			<!-- content push wrapper -->
			<div class="st-pusher">
				
				<div class="st-content"><!-- this is the wrapper for the content -->
					<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
						<!-- Top Navigation -->
						<div class="main clearfix" style="float:left; padding:5px">
							<div id="st-trigger-effects">
								
								<button data-effect="st-effect-5">Menu</button>
                
							</div>
						</div><!-- /main -->
						
							
								<img class="center" style="float:right; width:10%" src="/images/bees-01.png">

								  <!-------------------------------------------------------->
								  <!-- page here----------------------->
								  
								  <br><br><br><br><br><br><br><br><br><br><br>
								  
								  <center>
<div style = "border:0px solid #000; width:50%; background-color:#FFF; padding: 2%; padding-right:2%" class = "polaroid">

 <form action="/auth/registernow" method="post">

    <h1 style = "color:#000">Register with Save The Bees</h1>
    <br>
    <input style = "padding: 10px; width: 45%;font-size:20px" name = "fname" placeholder = "Enter Your First Name">
    <input style = "padding: 10px; width: 45%;font-size:20px" name = "lname" placeholder = "Enter Your Last Name">
    <br> <br>
        <input style = "padding: 10px; width: 100%;font-size:20px" name = "email" placeholder = "Enter Your Email Address">
         <br> <br>
            <input style = "padding: 10px; width: 100%;font-size:20px" name = "username" placeholder = "Enter Your Desired Username">
            
            <br><br>
            <input style = "padding: 10px; width: 100%;font-size:20px" type="password" name = "password" placeholder = "Enter Your Desired Password">
            
            <br><br>
    <button style = "padding: 10px; width: 100%;font-size:20px;" class="buttonf">Register Account</button>

</form>
    
	{{#if info}}
	
<br><br>
	<font color = "red" size = 4px>{{info}}</font>
	{{/if}}
</div>

</center>
								  
								  
								  <!----------------------------------------------------->

					</div><!-- /st-content-inner -->
				</div><!-- /st-content -->
			</div><!-- /st-pusher -->
		</div><!-- /st-container -->
		<script src="javascripts/classie.js"></script>
		<script src="javascripts/sidebarEffects.js"></script>
	
</body></html>
